body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat:no-repeat ;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    

    margin: 0;
}
#st{
    font-size: 50px;
}
